* {
    margin: 0;
    padding: 0;
}

/* navigation bar style    */



.navbar {
    display: flex;
    top: 0;
    height: 10vh;
}

.logo-space {
    display: flex;
    background-color: black;
    width: 100%;
    /* height: 80px; */
    text-align: center;
}

.logo {
    list-style: none;
    margin: auto;
}

.logo a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

/* .nav-list {
    display: flex;
    justify-content: flex-end;
    background-color: black;
    width: 70%;
} */

/* .nav-list ul {
    display: flex;
    justify-content: space-between;
} */

/* .nav-list ul li {
    list-style: none;
    margin: 20px 50px;
} */

/* .nav-list li a {
    text-decoration: none;
    color: white;
    font-size: 25px;
} */


/* 


    Main body style


 */


.main-body {
    display: flex;
    height: 70vh;
    /* height: max-content; */
    background-color: lightgrey;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.all-boxes {
    display: flex;
    margin: auto;
    /* height: fit-content; */
    /* width: fit-content; */
}

.box-adjust-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 130px;
    padding-bottom: 135px; */
}

.box-adjust-left {
    /* display: flex; */
    /* float: left; */
    /* padding-left: 200px; */
    vertical-align: middle;
}

/* dropdown buttons styling */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

  /* second dropdown button   */

  .dropbtn1 {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn1:hover, .dropbtn1:focus {
    background-color: #2980B9;
  }
  
  .dropdown1 {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content1 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown1 a:hover {background-color: #ddd;}
  
  .show1 {display: block;}





/* 
.padds {
    /* padding-left: 13%; 
} */

.box {
    background-color: grey;
    width: 600px;
    height: 300px;
    border-radius: 5px;
    border: 2px solid black;
    box-sizing: border-box;
    text-align: center;
    float: left;
}

.box p {
    /* padding: 2px; */
    padding-left: 2px;
    padding-top: 2px;
    padding-right: 2px;
    font-size: 30px;
}

.textcontent {
    display: flex;
    /* justify-content: center; */
    text-align: center;
    /* background-color: blanchedalmond; */
    height: 270px;
    /* line-height: 1;     */
}

input:focus::placeholder {
    color: transparent;
}

textarea:focus::placeholder {
    color: transparent;
}

.form-control {
    resize: none;
    display: block;
    height: 70%;
    margin: auto;
    width: 90%;
    border-radius: 10px;
    line-height: 1;
    font-size: large;
    border: 2px solid black;
    text-align: center;
    justify-content: center;
    text-align-last: center;
    /* -moz-text-align-last: center; */
    white-space: nowrap;
    padding-top: 10px;
}

/* .form-control:focus-visible{
    outline-style: auto;
} */

.main-buttons {
    /* background-color: magenta; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 38px;
    /* float: right; */
    /* float: calc(); */
    /* padding-top: 135px;
    padding-left: 60px; */
}

/* .buttons {

    background-color: lawngreen;
    padding: 10px;

} */

.button1 {
    padding: 5px;
    margin-right: 12px;
    margin-left: 20px;
    font-size: 20px;
    border-radius: 7px;
    cursor: pointer;
    background-color: greenyellow;
}

.button2 {
    padding: 5px;
    margin-left: 12px;
    margin-right: 20px;
    font-size: 20px;
    border-radius: 7px;
    cursor: pointer;
    background-color: rgba(77, 230, 241, 0.827);
}

/* .btn1 {
    background-color: greenyellow;
    padding: 5px;
}

.btn2 {
    background-color: rgba(77, 230, 241, 0.827);
    padding: 5px;
} */

.box1 {
    background-color: orange;
    width: 600px;
    height: 300px;
    border-radius: 5px;
    border: 2px solid black;
    box-sizing: border-box;
    text-align: center;
}

.box-adjust-right {
    /* display: flex; */
    vertical-align: middle;
}

.padds1 {
    /* padding-right: 13%; */
    display: flex;
}

.area-d {
    padding-bottom: 12px;
}

.box1 p {
    /* padding: 2px; */
    padding-left: 2px;
    padding-top: 2px;
    padding-right: 2px;
    margin-bottom: 2px;
    font-size: 30px;
}

/* 


    footer style
    
    
*/



.footer {
    position: absolute;
    bottom: 0;
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(10, 9, 16, 0.852);
}


.flogo {
    display: flex;
    /* flex-wrap: wrap; */
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    width: 30%;
    height: 80%;
    border-radius: 10px;
}

/* .logofooter {} */

.logofooter a {
    text-decoration: none;
    font-size: 40px;
    color: black;
}

.fnav {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color: turquoise;
    width: 60%;
    height: 80%;
    border-radius: 10px;
}

/* .fnav-list {} */

.fnav-list ul li {
    list-style: none;
    padding: 10px;
    margin: auto;

}

.fnav-list ul li a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}