*{
    margin: 0;
    padding: 0;

}

/* navigation bar style    */



.navbar{
display: flex;
}

.logo-space{
    display: flex;
    background-color: black;
    width: 30%;
    text-align: center;
}
.logo{
    list-style: none;
    margin: auto;
}
.logo a{
    text-decoration: none;
    color: white;
    font-size: 30px;

}

.nav-list{
    display: flex;
    justify-content:flex-end;
    background-color: black;
    width: 70%;
}
.nav-list ul{
    display: flex; 
    justify-content: space-between;
}

.nav-list ul li{
    list-style: none;
    margin: 20px 50px;
}

.nav-list li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

/* main body style   */
.main-body {
    display: flex;
    background-color: lightgrey;
    height: 33vw;
    width: 100%;
    justify-content: center ;
    align-items: center; 
}

.box{
    background-color: grey;
    width: 600px;
    border-radius: 5px;
    border: 2px solid black;
    box-sizing: border-box;
}

.textcontent{
    display: flex;
    justify-content: center;
    text-align: center;
    /* background-color: blanchedalmond; */
    height:300px;
    
}

.form-control{
    height: 70%;
    margin: auto;
    width: 90%;
    border-radius: 10px;
    line-height: 2;
    border: 2px solid black;

}
/* .form-control:focus-visible{
    outline-style: auto;
} */
.buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    /* background-color: lawngreen; */
    margin: auto;
}
.button{
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;

}
.btn1{
    background-color: greenyellow;

}
.btn2{
    background-color: rgba(77, 230, 241, 0.827);
}
.buttons button li{
    margin: 5px;
    text-decoration: none;
    list-style: none;
    
}


/* footer style  */



.footer {
    height: 10vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:rgba(10, 9, 16, 0.852);
}


.flogo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    width: 30%;
    height: 80%;
    border-radius: 10px;
}

.logofooter {
}
.logofooter a{
    text-decoration: none;
    font-size: 40px;
}

.fnav{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color: turquoise;
    width: 60%;
    height: 80%;
    border-radius: 10px;
}

.fnav-list{

}
.fnav-list ul li{
    list-style: none;
    margin: auto;

}
.fnav-list ul li a{
    text-decoration: none;
    color: black;
    font-size: 25px;
}




