*{
    margin: 0;
    padding: 0;

}

/* navigation style */

.navbar{
display: flex;
}

.logo-space{
    display: flex;
    background-color: black;
    width: 30%;
    text-align: center;
}
.logo{
    list-style: none;
    margin: auto;
}
.logo a{
    text-decoration: none;
    color: white;
    font-size: 30px;

}

.nav-list{
    display: flex;
    justify-content:flex-end;
    background-color: black;
    width: 70%;
}
.nav-list ul{
    display: flex; 
    justify-content: space-between;
}

.nav-list ul li{
    list-style: none;
    margin: 25px 50px;
}

.nav-list li a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}
  

/* main body style  */
.body1 {
    background-color: skyblue;
    height: 30vw;
    width: 100%;
    display: flex;
    align-items: center;
}

/* footer style  */



.footer {
    background-color: brown;
    height: 10vw;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 50px;
}

.logofooter {
    background-color: aliceblue;
    height: 120px;
    width: 350px;
}